body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
  }
  
  #timer {
    margin-top: 20px;
  }
  
  #time {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
  }
  